<mat-toolbar>
    <button mat-button class="buttonStyle" [routerLink]="['/']">
        <span><a>Products</a></span>
    </button>
    <button mat-button class="buttonStyle" *ngIf="isAuthenticated" [routerLink]="['/']">
        <span><a >Authenticate</a></span>
    </button>
    <button mat-stroked-button class="buttonStyle" *ngIf="!isAuthenticated" (click)="manageAllTags()">
        <span>Tags manage</span>
    </button>
    <button mat-button class="buttonStyle" [routerLink]="['/']" (click)="onSaveData()">
        <span><a >Save products</a></span>
    </button>
    <button mat-button class="buttonStyle" [routerLink]="['/']" (click)="onFetchProducts()">
        <span><a >Fetch products</a></span>
    </button>
    <span class="flexExpand"></span>
    <div>
        <a mat-button [routerLink]="'/logout'" *ngIf="isAuthenticated"> Logout </a>
    </div>
   
</mat-toolbar>

