<mat-toolbar>
    
    <button mat-button class="buttonStyle" [routerLink]="['/products']" [ngClass]="{ 'active-button': isActive('/products')}">
        <span><a>Products</a></span>
    </button>
    <button mat-button class="buttonStyle" *ngIf="!isAuthenticated" [routerLink]="['/authentication']"  [ngClass]="{ 'active-button': isActive('/authentication')}">
        <span><a >Authenticate</a></span>
    </button>
    <button mat-stroked-button class="buttonStyle" *ngIf="!isAuthenticated" [routerLink]="['/tags-manage']" (click)="manageAllTags()" [ngClass]="{ 'active-button': isActive('/tags-manage')}">
        <span>Tags manage</span>
    </button>
    <button mat-button class="buttonStyle" [routerLink]="['/']" (click)="onSaveData()">
        <span><a >Save products</a></span>
    </button>
    <button mat-button class="buttonStyle" [routerLink]="['/']" (click)="onFetchProducts()">
        <span><a >Fetch products</a></span>
    </button>
    <span class="flexExpand"></span>
    <div>
        <a mat-button [routerLink]="'/products'" *ngIf="isAuthenticated"> Logout </a>
    </div>
   
</mat-toolbar>

