<mat-toolbar>
    <button mat-button class="buttonStyle" [routerLink]="['/']">
        <span><a>Products</a></span>
    </button>
    <button mat-button class="buttonStyle" *ngIf="!isAuthenticated" [routerLink]="['/authentication']">
        <span><a >Authenticate</a></span>
    </button>
    <button mat-stroked-button class="buttonStyle" *ngIf="isAuthenticated">
        <span>Tags manage</span>
    </button>
    <span class="flexExpand"></span>
    <div>
        <a mat-button [routerLink]="'/logout'" *ngIf="isAuthenticated"> Logout </a>
    </div>
   
</mat-toolbar>

