
  .tile-content {
    display: flex;
    flex-direction: column; /* Display items vertically */
    align-self: flex-start;
    align-items: center;
    margin-top: 10px
  }
  
  .tags-content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    
  }
  

  .tile-content img {
    max-height: 150px;
  }


  .buttonStyle   {
    margin: auto 10px 10px 0;
  }

.tileMargin {
    margin: 20px;
}

.tile-image {
    align-self: center;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    border: 2px solid black;
  }

  .card {
    background-color: #8C9EFF;   
    overflow: auto;
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    margin: 10px;
    
   
  }

  .card-discription-style{
    margin-top: 4px;
    overflow: auto;
  }

  .chip-styles {
    
    display: flex;
    flex-wrap: wrap;
    margin: 3px
    }

    .card-action-style {
      display: flex;
      flex-wrap: wrap;
    }
    
  