
  .tile-content {
    display: flex;
    flex-direction: column; /* Display items vertically */
    align-self: flex-start;
    align-items: center;
    margin-top: 10px
  }

  @media (max-width: 1000px) {
    .tile-content {
      margin-top: 5px; /* Adjust the margin for smaller screens */
    }
  }
  
  .tags-content {
    display: flex;
    padding: 5px;
    margin-top: auto;
  }
  

  .tile-content img {
    max-height: 150px;
  }


.tileMargin {
    margin: 20px;
}

.tile-image {
    align-self: center;

    max-height: 150px;
    border-radius: 10px;
    
    border: 2px solid black;
  }

  .card {
    background-color: #8C9EFF;   
    overflow: auto;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
    
   
  }

  .card-discription-style{
    margin-top: 4px;
    height: 65px;
    overflow: auto;
  }

  .chip-styles {
    
    display: flex;
    flex-wrap: wrap;
    margin: 3px
    }

    .card-action-style {
      
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      
    }
    
  .mat-grid-main {
    padding: 5px 0 5px 0;
  }

  .button-add-style{
    margin: 0 20px 0px 0;
}

.grid-list-mat{
  padding: 30px;
}