<p>List commponents</p>
<div class="buttonStyle">
    <button mat-raised-button color="primary" class="buttonStyle">Add product</button>
</div>

    <!-- working aprouch -->
<!-- <div class="tileMargin">
    <mat-grid-list cols="5" rowHeight="4:5" gutterSize="20px">
        <mat-grid-tile *ngFor="let product of products">
            <mat-card>
                <mat-card-content>
                    <div class="tile-content">
                        <img [src]="product.imagePath" alt="{{ product.name }}">
                        <p>{{ product.name }}</p>
                        <p>{{ product.description }}</p>
                        <p>{{ product.price }} UAH</p>
                        <div class="tags-content" *ngFor="let chip of product.tags; let i = index">
                            <mat-chip [style.background]="chip.colorTag">
                                {{ chip.name }}
                            </mat-chip>
                        </div>
                        
                    </div>
                </mat-card-content>
              </mat-card>               
        </mat-grid-tile>    
    </mat-grid-list>
</div>
     -->

     <div class="tileMargin">
        <mat-grid-list [cols]="cols" rowHeight="5:5" gutterSize="20px">            
            <mat-grid-tile *ngFor="let product of products">
                <mat-card class="card"    (click)="OnSelected(product)">
                    <mat-card-header>
                      <mat-card-title>{{ product.name }}</mat-card-title>
                      <mat-card-subtitle>{{ product.price }} UAH </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image class="tile-image" src="{{product.imagePath}}" alt="{{ product.name }}">
                    <mat-card-content>                        
                        <p>{{ product.description }}</p>                        
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="tags-content" *ngFor="let chip of product.tags; let i = index">
                            <mat-chip [style.background]="chip.colorTag">
                                {{ chip.name }}
                            </mat-chip>
                        </div>
                    </mat-card-actions>
                  </mat-card>
                </mat-grid-tile>    
            </mat-grid-list>
        </div>

