
<div class="tileMargin">    
    <div>
        <div class="buttonStyle">
            <button mat-raised-button color="primary" class="buttonStyle" (click)="onNewProduct()">Add product</button>
        </div>
        <mat-grid-list [cols]="cols" rowHeight="5:5" gutterSize="20px" hideDisable>            
            <mat-grid-tile *ngFor="let product of products" >
                <mat-card class="card"    (click)="OnSelected(product);">
                    <mat-card-header>
                        <mat-card-title>{{ product.name }}</mat-card-title>
                        <mat-card-subtitle>{{ product.price }} UAH </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image class="tile-image" src="{{product.imagePath}}" alt="{{ product.name }}">
                    <mat-card-content class="card-discription-style">                        
                        <p>{{ product.description }}</p>                        
                    </mat-card-content>
                    <div class="tags-content">
                        <mat-card-actions class="card-action-style">
                            <div  *ngFor="let chip of product.tags; let i = index" class="chip-styles">
                                <mat-chip [style.background]="chip.colorTag">
                                    {{ chip.name }}
                                </mat-chip>
                            </div>
                        </mat-card-actions>
                    </div>
                    
                </mat-card>
            </mat-grid-tile>    
        </mat-grid-list>
    </div>    
</div>

