mat-grid-tile {
    background: lightblue;
    
  }

  .tile-content {
    display: flex;
    flex-direction: column; /* Display items vertically */
    align-items: center;    /* Center items horizontally */
  }
  
  .tile-content img {
    max-width: 66%; /* Ensure the image doesn't exceed the container width */
  }
