

<div>
   <p [(colorPicker)]="userInputColor">
    Choose <span style="font-weight: bold;">color</span> of the Tag
    
   </p> 
   <button mat-icon-button (click)="openColorPicker()" [(colorPicker)]="userInputColor">
    <mat-icon>palette</mat-icon>
    </button>
</div>
<!-- Functionality for disable a form
<button mat-raised-button (click)="formControl.disable()">Disable form control</button> -->

<mat-form-field class="chip-list" >    
    <mat-label>Your Custom Tags</mat-label>  
    <mat-chip-grid  #chipGrid aria-label="Enter tags" [formControl]="formControl" >
      <mat-chip-row *ngFor="let chip of tags; let i = index;"  [style.background]="chip.colorTag"
      [editable]="true" (edited)="edit(chip, $event)" [aria-description]="'press enter to edit ' + chip.name">
        {{ chip.name }}
        <button matChipRemove (click)="removeChip(chip)" aria-label="'remove ' + chip.name">
            <mat-icon>cancel</mat-icon>
          </button>        
      </mat-chip-row>  
      <input 
        placeholder="Enter a new tag..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="addTag($event);" 
        
        
      />      
    </mat-chip-grid>
  </mat-form-field>



<div>

    <!-- <input matInput [(ngModel)]="userInputColor" placeholder="e.g., #ff0000"> -->
    <!-- <button mat-raised-button color="primary" (click)="add()">Add Keyword</button> -->
    <button mat-raised-button color="primary" >Update</button>
    <button mat-raised-button color="basic" [routerLink]="['/products']">Back</button>


  <p>
  </p>
</div>
  
  <!-- <input [(colorPicker)]="userInputColor" [style.background]="userInputColor" placeholder="Choose color"/> -->
  




        <!-- Bad idea  -->
<!-- <mat-form-field>
    <mat-label>Edit tags</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter keywords" [formControl]="formControl">
      <mat-chip-row *ngFor="let keyword of keywords; let i = index" (removed)="removeKeyword(i)" [style.background]="keyword.color">
        {{ keyword.name }}
        <button matChipRemove aria-label="'remove ' + keyword.name">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>    
    <input placeholder="New Tag"
       [matChipInputFor]="chipGrid"
       [(ngModel)]="userInputValue"
       (matChipInputTokenEnd)="add($event)"/>
   

  </mat-form-field> -->