<div>
    <img src="" alt="" class="img-responsive">
</div>
<div>

    <h1 > Name {{ selectedProduct?.name }} </h1>
    <div>
        <p>{{ selectedProduct?.price }}</p>
    </div>
    <div>
        <img mat-card-image class="tile-image" src="{{selectedProduct?.imagePath}}" alt="{{ selectedProduct?.name }}">
    </div>
</div>

<div>
    <p>{{ selectedProduct?.description }}</p>
</div>

<div>
    <div class="tags-content" *ngFor="let chip of selectedProduct?.tags; let i = index">
        <mat-chip [style.background]="chip?.colorTag">
            {{ chip?.name }}
        </mat-chip>
    </div>
</div>
<div>
    <button mat-flat-button color="accent" [matMenuTriggerFor]="menu">Manage<mat-icon>create</mat-icon></button>
    <mat-menu #menu="matMenu">        
        <button mat-menu-item href="#">Edit</button>
        <button mat-menu-item href="#">Delete</button>
      </mat-menu>      
    <button mat-raised-button color="basic" [routerLink]="['/products']">Back</button>

</div>